*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(125, 125, 248);
    height: 60px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    height: 350px;
    width: 700px;
    border: 2px  dashed    black;

}

.title{
    background-color: rgb(255, 166, 0);
    border: 2px dashed;
    padding: 0px 10px;
    gap: 150px;
    width: 80%;
}

.box-link{
    border-right: 3px dashed black;
    border-left: 3px dashed black;
    padding: 10px 150px
}

/* paragraph1 */

.block-1{
    background-color: rgb(0, 0, 252);
    height: 450px;
}

.fucsia{
    background-color: rgb(250, 97, 255); 
    height: 350px;
    width: 70%;
    border: 2px  dashed    black;
}

/* paragraph2 */

.block-2{
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.pink{
    background-color: rgb(247, 176, 250);
    width: 40%;
    border: 2px  dashed    black;
    margin-left: 10%;
}

.blue{
    background-color: rgb(122, 135, 255);
    width: 60%;
    border: 2px  dashed    black;
    margin-right: 10%;
}

/* paragraph3 */

.blue-2{
    background-color: rgb(122, 135, 255);;
    width: 60%;
    border: 2px  dashed    black;
    margin-left: 10%;
}
.pink-2{
    background-color: rgb(247, 176, 250);
    width: 40%;
    border: 2px  dashed    black;
    margin-right: 10%;
}

.block-3{
    background-color: rgb(218, 218, 218);
    height: 500px;
}
/* paragraph4 */

.block-4{
    background-color: rgb(218, 218, 218);
    height: 700px;
}

.green{
    background-color: rgb(0, 148, 7); 
    height: 500px;
    width: 80%;
    border: 2px  dashed    black;
}

/* paragraph5 */

.block-5{
    background-color: rgb(0, 0, 0);
    height: 500px;
}

.roses{
    background-color: rgb(139, 32, 86); 
    height: 400px;
    width: 40%;
    border: 2px  dashed    black;
}
.aqua{
    background-color: rgb(32, 139, 139); 
    height: 400px;
    width: 10%;
    border: 2px  dashed    rgb(255, 255, 255);
}

/* footer */
.footer{
        background-color: rgb(0, 0, 0);
        height: 60px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-top: 10px;
}

.bottom{
    background-color: rgb(0, 255, 242);
    padding: 10px 0px;
    width: 80%;
    justify-content: space-between;
}

.botton{
    background-color: pink;
    border: 2px dashed black ;
    padding: 5px;
}

.logo{
    background-color: pink;
    border: 2px dashed black ;
    padding: 5px;
}